<div class="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="logout()">Logout</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item active navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Free Content
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/wisecrack">Wisecrack</a>
            <a class="dropdown-item" routerLink="/cats">Cats</a>
            <a class="dropdown-item" routerLink="/prozd">ProZD</a>
            <a class="dropdown-item" routerLink="/settled">Settled</a>
            <a class="dropdown-item" routerLink="/bon">Bon Appétit</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Premium Content
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/dobrik">David Dobrik</a>
            <a class="dropdown-item" routerLink="/espn">ESPN</a>
            <a class="dropdown-item" routerLink="/lastweek">Last Week Tonight</a>
            <a class="dropdown-item" routerLink="/caseyneistat">Casey Neistat</a>
            <a class="dropdown-item" routerLink="/ted">TedTalk</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  </div>


 




