<form class="from" (ngSubmit)="onSubmit">
  <input type ="text" name="firstname" [(ngModel)]="firstname" placeholder="First name">
  <input type ="text" name="lastname" [(ngModel)]="lastname" placeholder="Last name">
  <input type ="text" name="username" [(ngModel)]="username" placeholder="First name">
  <input type ="password" name="password" [(ngModel)]="password" placeholder="password">
  <input type="text" name="answer" [(ngModel)]="answer" placehold="answer">Your favouite childhood pet?
  <select name="accountType" [(ngModel)] ="accountType">Account type
    <option value="basicAccount">Basic Account</option>
    <option value="premiumAccount">Premium Account</option>
  </select>
  <input type="email" name="email" [(ngModel)]="email" placeholder="email">
  <input type="submit" value="Submit" class="btn">
</form>