h1 
{
    width: auto;
    filter: brightness(1.5);
    text-align: center;
}
  
#myVideo 
{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.nav
{
    -webkit-box-shadow: 0px -50px 131px 48px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -50px 131px 48px rgba(0,0,0,0.75);
box-shadow: 0px -50px 131px 48px rgba(0,0,0,0.75);
    font-size: 20px;
    font-weight: 900;
    border:1px solid rgba(0, 0, 0, 0.781);
    border-width:1px 0;        
    margin:0;
    padding:0;
    text-align:center;
    width: 100%;
    background-color: rgba(187, 184, 184, 0.514);
    overflow: auto;
}

.nav li
{
    
    text-decoration: none;
    display:inline;
}

.nav a
{
    border-radius: 20px;
    -webkit-box-shadow: -7px 0px 10px 0px rgba(255, 255, 255, 0.664), 7px 0px 10px 0px rgba(255, 255, 255, 0.664);
    -moz-box-shadow: -7px 0px 20px 0px rgba(255, 255, 255, 0.664), 7px 0px 20px 0px rgba(255, 255, 255, 0.664);
    box-shadow: -7px 0px 10px 0px rgba(255, 255, 255, 0.664), rgba(255, 255, 255, 0.664);  
    background-color: rgba(255, 255, 255, 0.623);
    width:100px;
    text-decoration: none;
    display:inline-block;
    padding:10px;
}

li a:hover 
{
    border-radius: 20px;
    -webkit-box-shadow: -7px 0px 10px 0px rgba(245, 179, 179, 0.815), 7px 0px 10px 0px rgba(245, 179, 179, 0.815);
    -moz-box-shadow: -7px 0px 20px 0px rgba(245, 179, 179, 0.815), 7px 0px 20px 0px rgba(245, 179, 179, 0.815);
    box-shadow: -7px 0px 10px 0px rgba(245, 179, 179, 0.815), rgba(245, 179, 179, 0.815)rgba(255, 255, 255, 0.664);  
    background-color: rgba(255, 0, 0, 0.87);
    transition-duration: 1.75s;
    width:100px;
}


body 
{
    background: #925959e0;
    color: rgb(0, 0, 0);
    line-height: 24px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

fieldset 
{
    -webkit-box-shadow: 0px 14px 111px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 111px 9px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 111px 9px rgba(0,0,0,0.75);
    border-radius: 8px;
    border-color:  rgba(0, 0, 0, 0.781);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: #ffffffc9;
}


legend 
{ 
    color:rgb(255, 255, 255);
    background-color:rgba(2, 2, 2, 0.788);
    border-radius: 4px;
}


main.home-search div input[type=text] 
{
    -webkit-box-shadow: inset 0px 0px 64px 6px rgba(158, 82, 82, 0.815);
    -moz-box-shadow: inset 0px 0px 64px 6px rgba(158, 82, 82, 0.815);
    box-shadow: inset 0px 0px 64px 6px rgba(158, 82, 82, 0.815);
    border-radius: 5px;
    border-width: 1.5px;
    display: inline-block;
    text-align: center;
    width: 380px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    border-color: rgba(255, 3, 3, 0.781);
    /* transform: skew(-0.30rad); */
}


#submit-btn
{
    -webkit-box-shadow: 0px 0px 273px 38px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 273px 38px rgba(0,0,0,1);
    box-shadow: 0px 0px 273px 38px rgba(0,0,0,1);
    border-radius: 5px;
    border-width: 1.5px;
    background-color: rgba(146, 122, 122, 0.541);
    border-color:  rgba(255, 3, 3, 0.342);
    -webkit-transition-duration: 1.25s; /* Safari */
    transition-duration: 0.4s;
    color: rgb(0, 0, 0);
    padding: 3px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}


#submit-btn:hover
{
    background-color: rgba(110, 99, 99, 0.719); 
}


footer
{
    font-size:5;
    position:center;
    bottom: 0;
    width: 100%;
}
  

.footer 
{
    -webkit-box-shadow: 0px 14px 111px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 111px 9px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 111px 9px rgba(0,0,0,0.75);
    border-radius: 15px;
    background: #ffffffc9;
    height: 50px;
    margin: auto;
    width: 400px;
    text-align:center;
    padding:10px;
    color:#00000059;
}
